@media (max-width:930px){
    .heading {
        margin: 5% 15%;
      }
}

@media (max-width:800px){
    .boxes{
        margin: 0 20px;
    }
    .box img{
        height: 30px;
        width: 30px;
    }
}

@media (max-width:500px){
     .boxes{
         display: block;
     }
     .middle-boxs{
        display: block;
    }
    .box{
        margin-bottom: 20px;
        padding: 20px 20px 40px 20px;
    }
    .heading{
        margin:5% 5%;
    }
    .title{
        font-size: 20px;
    }
}